{{ ansible_managed | comment('cblock') }}

* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    /* font-family: Roboto, Helvetica, Arial, sans-serif; */
    font-family: Monospace;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#disk,
#custom-pacman {
    padding: 0 5px;
    margin: 0 5px;
    color: #ffffff;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
}

#clock {
    border-color: #FF5C5C;
}

#battery {
    border-color: #ffa05c;
}

#battery.charging {
    border-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#backlight {
    border-color: #ffe45c;
}

#temperature {
    border-color: #d6ff5c;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#memory {
    border-color: #92ff5c;
}

#cpu {
    border-color: #5cff69;
}

#disk.home {
    border-color: #5cffad;
}

#disk {
    border-color: #5cfff1;
}

#pulseaudio {
    border-color: #5cc9ff;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#network {
    border-color: #5c85ff;
}

#network.disconnected {
    background-color: #f53c3c;
}

#mpd {
    border-color: #775cff;
    margin-left: 25px;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    color: #ffb3b3;
}

#mpd.paused {
    border-color: #000000;
}

#custom-pacman {
    border-color: #bb5cff;
}

label:focus {
    background-color: #000000;
    font-size: 25px;
}

#mode {
    background-color: red;
    border-color: #ff5c77;
    border-width: 0px 0px 3px 0px;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    border-bottom: 3px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 3px solid #ff5cff;
}

#workspaces button.focused {
    background-color: #64727D;
    border-bottom: 3px solid #ff5cbb;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}
